Repository rysweet/gadugi: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, validate-agents

pyright:
  name: pyright type checker
  entry: pyright container_runtime/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-agents:
  name: Validate agent registration
  entry: python .github/scripts/validate-agent-registration.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat: implement systematic PR review workflow with critical process improvements
  .github/Memory.md
  phase_6_testing_results.json
  pr_analysis_report.md
  systematic_pr_review_workflow_documentation.md
  systematic_review_implementation_log.md
  workflow_process_improvements.md
Due: none

fix: enhance orchestrator dashboard with process/worktree monitoring
  .claude/orchestrator/CONTAINERIZED_EXECUTION_GUIDE.md
  .claude/orchestrator/monitoring/dashboard.py
  prompts/fix-orchestrator-dashboard-workflow.md
  pyproject.toml
  uv.lock
Due: pyright

docs: add Phase 10 review response plan for systematic PR workflow
  phase_10_review_response_plan.md
Due: none

feat: complete Phase 11 and systematic PR review workflow
  .github/Memory.md
  phase_11_settings_updates.md
  workflow_completion_summary.md
Due: none

fix: improve orchestrator reliability and timeout handling
  .claude/orchestrator/components/task_analyzer.py
  .claude/orchestrator/container_manager.py
  .claude/orchestrator/orchestrator_cli.py
  .claude/orchestrator/orchestrator_main.py
Due: pyright

docs: update Memory.md with orchestrator progress
  .github/Memory.md
Due: none

fix: orchestrator branch naming validation and monitoring
  .claude/orchestrator/components/worktree_manager.py
  .claude/orchestrator/worktree_state.json
  .gadugi/monitoring/heartbeats.json
  .gadugi/monitoring/process_registry.json
  prompts/pr270.md
  prompts/pr278.md
  prompts/pr279.md
  prompts/pr280.md
Due: pyright

docs: add workflow prompt file for PR 270
  prompts/pr270-workflow.md
Due: none

chore: add pr278 workflow prompt file
  prompts/pr278-workflow.md
Due: none

chore: add workflow prompt for PR 279 code review
  prompts/pr279-workflow.md
Due: none

fix: add missing Tuple import in workflow_reliability.py
  .claude/shared/workflow_reliability.py
Due: pyright

fix: address critical issue from code review - missing Tuple import
  .claude/shared/workflow_reliability.py
Due: pyright

fix: critical orchestrator ProcessRegistry state management
  .claude/orchestrator/orchestrator_main.py
  .claude/orchestrator/process_registry.py
  .claude/orchestrator/worktree_state.json
  .gadugi/monitoring/heartbeats.json
  .gadugi/monitoring/process_registry.json
  enhanced_dashboard.py
  prompts/pr281.md
  prompts/pr282.md
  prompts/pr286.md
  prompts/pr287.md
  prompts/pr293.md
  prompts/pr294.md
  prompts/pr295.md
  prompts/pr296.md
  pyproject.toml
  uv.lock
Due: pyright

feat: add Team Coach integration files and comprehensive test suite
  .claude/agents/teamcoach/README.md
  .claude/agents/teamcoach/example_usage.py
  .claude/agents/teamcoach/team_coach.py
  prompts/pr281-workflow.md
  tests/test_team_coach.py
Due: pyright, validate-agents

fix: add missing Tuple import to workflow_reliability.py
  .claude/shared/workflow_reliability.py
Due: pyright

test: add Team Coach integration tests
  tests/test_team_coach_integration.py
Due: pyright

docs: add PR #286 workflow execution prompt
  prompts/pr286-workflow.md
Due: none

feat: complete systematic PR review workflow with comprehensive implementation
  .claude/shared/workflow_reliability.py
  phase_10_review_response_plan.md
  phase_11_settings_updates.md
  phase_6_testing_results.json
  pr_analysis_report.md
  prompts/pr294-workflow.md
  systematic_pr_review_workflow_documentation.md
  systematic_review_implementation_log.md
  workflow_completion_summary.md
  workflow_process_improvements.md
Due: pyright

fix: address code review feedback with enhanced automation examples
  enhanced_automation_examples.md
  systematic_pr_review_workflow_documentation.md
Due: none

feat: complete Phase 11 - Memory.md settings update
  .github/Memory.md
Due: none

chore: orchestrator execution completion and monitoring state
  .claude/orchestrator/process_registry.py
  .claude/orchestrator/worktree_state.json
  .gadugi/monitoring/heartbeats.json
  .gadugi/monitoring/process_registry.json
  enhanced_dashboard.py
  prompts/pr281.md
  prompts/pr282.md
  prompts/pr286.md
  prompts/pr287.md
  prompts/pr293.md
  prompts/pr294.md
  prompts/pr295.md
  prompts/pr296.md
Due: pyright

cleanup: remove test artifacts from subagent investigation
  test-output.txt
Due: none

feat: implement Recipe Executor with self-hosting capability
  recipes/recipe-executor/components.json
  recipes/recipe-executor/design.md
  recipes/recipe-executor/requirements.md
  src/recipe_executor/__init__.py
  src/recipe_executor/code_generator.py
  src/recipe_executor/dependency_resolver.py
  src/recipe_executor/python_standards.py
  src/recipe_executor/recipe_model.py
  src/recipe_executor/recipe_parser.py
Due: pyright

feat: Recipe Executor with Claude Code integration and TDD
  pyproject.toml
  recipes/recipe-executor/components.json
  recipes/recipe-executor/design.md
  recipes/recipe-executor/requirements.md
  src/recipe_executor/__init__.py
  src/recipe_executor/claude_code_generator.py
  src/recipe_executor/code_generator.py
  src/recipe_executor/dependency_resolver.py
  src/recipe_executor/orchestrator.py
  src/recipe_executor/python_standards.py
  src/recipe_executor/recipe_model.py
  src/recipe_executor/recipe_parser.py
  src/recipe_executor/state_manager.py
  src/recipe_executor/test_generator.py
  src/recipe_executor/validator.py
  uv.lock
Due: pyright

feat: replace hardcoded secrets with environment variables
  .claude/orchestrator/docker-compose.yml
  .claude/shared/workflow_reliability.py
  .env.example
  .github/Memory.md
  README.md
  docker-compose.yml
  docs/environment-setup.md
  neo4j_client/__init__.py
  neo4j_client/client.py
  pyproject.toml
  tests/test_neo4j_client.py
  uv.lock
Due: pyright

security: replace hardcoded secrets with environment variables
  .env.example
  README.md
  docker-compose.gadugi.yml
  docker-compose.yml
  neo4j/init_db.py
  neo4j/neo4j_client.py
  neo4j/test_connection.py
  prompts/replace-hardcoded-secrets.md
  tests/test_env_config.py
Due: pyright

test: add comprehensive tests for Recipe Executor components
  src/recipe_executor/code_generator.py
  src/recipe_executor/dependency_resolver.py
  src/recipe_executor/orchestrator.py
  src/recipe_executor/recipe_model.py
  src/recipe_executor/test_generator.py
  src/recipe_executor/validator.py
  tests/recipe_executor/__init__.py
  tests/recipe_executor/test_claude_code_generator.py
  tests/recipe_executor/test_dependency_resolver.py
  tests/recipe_executor/test_orchestrator.py
  tests/recipe_executor/test_recipe_model.py
  tests/recipe_executor/test_recipe_parser.py
  tests/recipe_executor/test_validator.py
Due: pyright

fix: major type safety improvements and implementation completeness
  src/recipe_executor/claude_code_generator.py
  src/recipe_executor/code_generator.py
  src/recipe_executor/dependency_resolver.py
Due: pyright

fix: resolve 76% of pyright errors and improve test compatibility
  src/recipe_executor/claude_code_generator.py
  src/recipe_executor/code_generator.py
  src/recipe_executor/dependency_resolver.py
  src/recipe_executor/orchestrator.py
  src/recipe_executor/python_standards.py
Due: pyright

feat: implement Design Patterns support for Recipe Executor
  patterns/python-quality/design.md
  patterns/python-quality/pattern.json
  patterns/python-quality/requirements.md
  patterns/python-quality/templates/.pre-commit-config.yaml
  patterns/python-quality/templates/pyproject.toml.append
  patterns/python-quality/templates/pyrightconfig.json
  recipes/recipe-executor/design.md
  recipes/recipe-executor/requirements.md
  src/recipe_executor/agents/recipe_executor_agent.md
  src/recipe_executor/agents/recipe_extractor_agent.md
  src/recipe_executor/agents/recipe_writer_agent.md
  src/recipe_executor/base_generator.py
  src/recipe_executor/claude_code_generator.py
  src/recipe_executor/code_generator.py
  src/recipe_executor/dependency_resolver.py
  src/recipe_executor/install_agents.py
  src/recipe_executor/orchestrator.py
  src/recipe_executor/pattern_manager.py
  src/recipe_executor/python_standards.py
  src/recipe_executor/recipe_model.py
  src/recipe_executor/recipe_parser.py
  src/recipe_executor/state_manager.py
  src/recipe_executor/stub_detector.py
  src/recipe_executor/test_generator.py
  src/recipe_executor/validator.py
  tests/recipe_executor/test_claude_code_generator.py
  tests/recipe_executor/test_orchestrator.py
  tests/test_pattern_manager.py
Due: pyright

feat: add Recipe Executor CLI interface
  src/recipe_executor/__main__.py
Due: pyright

fix: remove stub-generating code and fix self-regeneration
  .recipe_build/state.json
  generated/recipe-executor-test/src/recipe_executor/__init__.py
  generated/recipe-executor-test/src/recipe_executor/claude_code_generator.py
  generated/recipe-executor-test/src/recipe_executor/dependency_resolver.py
  generated/recipe-executor-test/src/recipe_executor/orchestrator.py
  generated/recipe-executor-test/src/recipe_executor/python_standards.py
  generated/recipe-executor-test/src/recipe_executor/quality_gates.py
  generated/recipe-executor-test/src/recipe_executor/recipe_model.py
  generated/recipe-executor-test/src/recipe_executor/recipe_parser.py
  generated/recipe-executor-test/src/recipe_executor/state_manager.py
  generated/recipe-executor-test/src/recipe_executor/test_generator.py
  generated/recipe-executor-test/src/recipe_executor/validator.py
  generated/recipe-executor-test/tests/test_claude_code_generator.py
  generated/recipe-executor-test/tests/test_dependency_resolver.py
  generated/recipe-executor-test/tests/test_orchestrator.py
  generated/recipe-executor-test/tests/test_python_standards.py
  generated/recipe-executor-test/tests/test_quality_gates.py
  generated/recipe-executor-test/tests/test_recipe_model.py
  generated/recipe-executor-test/tests/test_recipe_parser.py
  generated/recipe-executor-test/tests/test_state_manager.py
  generated/recipe-executor-test/tests/test_test_generator.py
  generated/recipe-executor-test/tests/test_validator.py
  src/recipe_executor/claude_code_generator.py
  src/recipe_executor/code_generator.py
  src/recipe_executor/orchestrator.py
  tests/test_no_stubs.py
Due: pyright

fix: properly invoke Claude CLI and remove empty exception classes
  src/recipe_executor/base_generator.py
  src/recipe_executor/claude_code_generator.py
  src/recipe_executor/test_generator.py
Due: pyright

feat: improve Recipe Executor with focused enhancements
  .claude/Guidelines.md
  patterns/code-generation/pattern.json
  patterns/code-generation/requirements.md
  patterns/dependency-resolution/pattern.json
  patterns/dependency-resolution/requirements.md
  patterns/state-management/pattern.json
  patterns/state-management/requirements.md
  patterns/tdd-testing/pattern.json
  patterns/tdd-testing/requirements.md
  patterns/validation-framework/pattern.json
  patterns/validation-framework/requirements.md
  recipes/recipe-executor/design.md
  recipes/recipe-executor/requirements.md
  src/recipe_executor/claude_code_generator.py
  src/recipe_executor/orchestrator.py
  src/recipe_executor/retry_helper.py
Due: pyright

refactor: enhance Recipe Executor with comprehensive validation stages
  recipes/recipe-executor/complete-design.md
  recipes/recipe-executor/design.md
  recipes/recipe-executor/execution-flow.md
  recipes/recipe-executor/requirements.md
  src/recipe_executor/claude_code_generator.py
  src/recipe_executor/retry_helper.py
Due: pyright

Path conditions:
  pyright: any of: \.py$, but not: (?x)^(
  .*\.skip$|
  \.venv/.*|
  venv/.*|
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  htmlcov/.*|
  \.coverage$|
  \.mypy_cache/.*|
  \.ruff_cache/.*|
  \.worktrees/.*|
  \.gadugi/.*
)

  validate-agents: any of: \.(claude|github)/agents/.*\.md$, but not: (?x)^(
  .*\.skip$|
  \.venv/.*|
  venv/.*|
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  htmlcov/.*|
  \.coverage$|
  \.mypy_cache/.*|
  \.ruff_cache/.*|
  \.worktrees/.*|
  \.gadugi/.*
)

