Repository rysweet/gadugi: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, validate-agents

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # Formatting and linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.7
    hooks:
      # Run the linter
      - id: ruff
        args: [ --fix ]
      # Run the formatter
      - id: ruff-format

  # Additional Python code quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Type checking with pyright (using local hook for now)
  - repo: local
    hooks:
      - id: pyright
        name: pyright type checker
        entry: pyright container_runtime/
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]  # Run on push to avoid slowing down commits
        # Scoped to container_runtime/ initially for phased rollout

  # Security: Check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*\.lock$|package-lock\.json$


  # Validate agent registration files
  - repo: local
    hooks:
      - id: validate-agents
        name: Validate agent registration
        entry: python .github/scripts/validate-agent-registration.py
        language: system
        files: '\.(claude|github)/agents/.*\.md$'
        pass_filenames: false
        stages: [pre-commit]

  # Run tests (using local hook)
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: uv run pytest
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]  # Only run tests on push, not every commit

# Global configuration
default_language_version:
  python: python3.12

# Only run on specific stages if needed
default_stages: [pre-commit, pre-push]

# Files to exclude from all hooks
exclude: |
  (?x)^(
    .*\.skip$|
    \.venv/.*|
    venv/.*|
    \.git/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    .*\.pyc$|
    .*\.pyo$|
    build/.*|
    dist/.*|
    .*\.egg-info/.*|
    htmlcov/.*|
    \.coverage$|
    \.mypy_cache/.*|
    \.ruff_cache/.*|
    \.worktrees/.*|
    \.gadugi/.*
  )

refactor: replace CLAUDE.md with streamlined parallel-first version
  CLAUDE.md
  CLAUDE_MIGRATION_GUIDE.md
  CLAUDE_REFACTORED.md
Due: none

chore: clean up type-fixing scripts from project root
  .claude/type-fixing-artifacts/README.md
  .claude/type-fixing-artifacts/check_syntax_errors.py
  .claude/type-fixing-artifacts/enhanced_dashboard.py
  .claude/type-fixing-artifacts/final_orchestration.py
  .claude/type-fixing-artifacts/fix_all_syntax_errors.py
  .claude/type-fixing-artifacts/fix_final_syntax.py
  .claude/type-fixing-artifacts/fix_imports.py
  .claude/type-fixing-artifacts/fix_init_syntax.py
  .claude/type-fixing-artifacts/fix_mangled_signatures.py
  .claude/type-fixing-artifacts/fix_missing_imports.py
  .claude/type-fixing-artifacts/fix_remaining_errors.py
  .claude/type-fixing-artifacts/fix_remaining_imports.py
  .claude/type-fixing-artifacts/fix_remaining_syntax.py
  .claude/type-fixing-artifacts/fix_syntax_errors.py
  .claude/type-fixing-artifacts/fix_type_errors.py
  .claude/type-fixing-artifacts/fix_unused_imports.py
  .claude/type-fixing-artifacts/orchestrate_complete_fix.py
  .claude/type-fixing-artifacts/pyright_output.json
  .claude/type-fixing-artifacts/pyright_shared.json
  .claude/type-fixing-artifacts/syntax_error_fix_report.py
  .claude/type-fixing-artifacts/test_import.py
  .claude/type-fixing-artifacts/test_imports.py
  CLAUDE_LEGACY.md
Due: pyright

fix: Path handling and monitoring improvements for Recipe Executor
  monitor_v11.sh
  src/recipe_executor/__main__.py
  src/recipe_executor/claude_code_generator.py
  src/recipe_executor/enhanced_orchestrator.py
  src/recipe_executor/orchestrator.py
  src/recipe_executor/recipe_decomposer.py
  src/recipe_executor/recipe_parser.py
  src/recipe_executor/self_hosting.py
  src/recipe_executor/tdd_pipeline.py
  src/recipe_executor/test_solver.py
  tests/test_recipe_executor_integration.py
Due: pyright

fix: final type error fixes to achieve zero errors
  .claude/agent-manager/tests/test_hook_setup.py
  .claude/agents/system_design_reviewer/adr_generator.py
  .claude/agents/system_design_reviewer/ast_parser.py
  .claude/agents/system_design_reviewer/core.py
  .claude/agents/system_design_reviewer/documentation_manager.py
  .claude/agents/teamcoach/phase1/capability_assessment.py
  .claude/agents/teamcoach/phase2/recommendation_engine.py
  .claude/agents/teamcoach/phase2/task_matcher.py
  .claude/agents/teamcoach/phase2/team_optimizer.py
  .claude/agents/teamcoach/tests/test_strategic_planner.py
  .claude/agents/teamcoach/tests/test_task_matcher.py
  .claude/agents/teamcoach/tests/test_workflow_optimizer.py
  .claude/agents/workflow-master-enhanced.py
  .claude/agents/workflow-master-teamcoach-integration.py
  .claude/agents/workflow-reflection-collector.py
  .claude/hooks/xpia_web_validator.py
  .claude/orchestrator/components/execution_engine.py
  .claude/orchestrator/monitoring/dashboard.py
  .claude/orchestrator/orchestrator_cli.py
  .claude/orchestrator/test_basic_functionality.py
  .claude/orchestrator/tests/test_containerized_execution.py
  .claude/tools/type_safe_generator.py
  .github/scripts/validate-agent-registration.py
  container_runtime/audit_logger.py
  container_runtime/container_manager.py
  container_runtime/execution_engine.py
  container_runtime/image_manager.py
  container_runtime/security_policy.py
  src/gadugi/agent_interface.py
  tests/agents/system_design_reviewer/test_core.py
  tests/container_runtime/test_container_manager.py
  tests/memory_manager/test_memory_compactor.py
  tests/shared/test_error_handling.py
  tests/shared/test_github_operations.py
  tests/shared/test_state_management.py
Due: pyright

fix: address code review feedback
  .claude/agents/shared_test_instructions.py
  .claude/agents/system_design_reviewer/core.py
  .claude/orchestrator/components/execution_engine.py
  .github/CodeReviewerProjectMemory.md
Due: pyright

fix: resolve all ruff lint and format issues
  .claude/type-fixing-artifacts/enhanced_dashboard.py
  .claude/type-fixing-artifacts/test_import.py
  .claude/type-fixing-artifacts/test_imports.py
  .github/memory-manager/config.py
  .github/memory-manager/enums.py
  .github/memory-manager/memory_compactor.py
  .github/memory-manager/memory_manager.py
  .github/memory-manager/simple_memory_manager.py
  .github/memory-manager/sync_engine.py
  container_runtime/audit_logger.py
  container_runtime/container_manager.py
  container_runtime/execution_engine.py
  container_runtime/image_manager.py
  container_runtime/security_policy.py
  gadugi/event_service/cli.py
  gadugi/event_service/github_client.py
  tests/agents/pr_backlog_manager/test_stubs.py
  tests/agents/system_design_reviewer/test_core.py
  tests/agents/system_design_reviewer/test_documentation_manager.py
  tests/agents/test_claude_settings_update.py
  tests/agents/test_test_agents_basic.py
  tests/container_runtime/test_container_manager.py
  tests/integration/test_enhanced_separation_basic.py
  tests/integration/test_enhanced_separation_basic_broken.py
  tests/integration/test_orchestrator_agent_enhanced_separation.py
  tests/integration/test_workflow_manager_enhanced_separation.py
  tests/shared/test_error_handling.py
  tests/shared/test_github_operations.py
  tests/shared/test_interfaces.py
  tests/shared/test_phase_enforcer.py
  tests/shared/test_state_management.py
  tests/shared/test_task_tracking.py
  tests/shared/test_workflow_engine.py
  tests/shared/test_workflow_validator.py
  tests/test_enhanced_workflow_manager_reliability.py
  tests/test_program_manager.py
  tests/test_teamcoach_hook_integration.py
Due: pyright

fix: resolve all test failures and enforce quality gates
  .claude/agents/pr-backlog-manager/core.py
  .claude/agents/pr-backlog-manager/delegation_coordinator.py
  .claude/agents/system_design_reviewer/ast_parser.py
  .claude/agents/system_design_reviewer/core.py
  .claude/agents/system_design_reviewer/documentation_manager.py
  .claude/shared/task_tracking.py
  .claude/shared/workflow_engine.py
  .pre-commit-config.yaml
  container_runtime/image_manager.py
  tests/agents/pr_backlog_manager/test_delegation_coordinator.py
  tests/agents/pr_backlog_manager/test_integration.py
  tests/agents/pr_backlog_manager/test_stubs.py
  tests/agents/system_design_reviewer/test_ast_parser.py
  tests/agents/system_design_reviewer/test_core.py
  tests/integration/test_enhanced_separation_basic.py
  tests/integration/test_enhanced_separation_basic_broken.py
  tests/integration/test_workflow_manager_enhanced_separation.py
  tests/shared/test_error_handling.py
  tests/shared/test_github_operations.py
  tests/shared/test_state_management.py
  tests/shared/test_task_tracking.py
  tests/shared/test_workflow_engine.py
Due: pyright

fix: correct ErrorHandler initialization in system design reviewer
  .claude/agents/system_design_reviewer/core.py
Due: pyright

chore: archive one-time type fix scripts
  .claude/type-fixing-artifacts/archive/README.md
  .claude/type-fixing-artifacts/archive/final_orchestration.py
  .claude/type-fixing-artifacts/archive/fix_final_syntax.py
  .github/CodeReviewerProjectMemory.md
Due: pyright

fix: correct TaskTracker initialization parameter
  .claude/agents/system_design_reviewer/core.py
Due: pyright

chore: archive parallel type fixing script
  .claude/type-fixing-artifacts/archive/fix_types_parallel.py
Due: pyright

feat: implement comprehensive Team Coach agent (#304)
  .claude/agents/team-coach.md
  .claude/agents/teamcoach/__init__.py
  .claude/agents/teamcoach/phase1/capability_assessment.py
  .claude/agents/teamcoach/phase1/metrics_collector.py
  .claude/agents/teamcoach/phase1/performance_analytics.py
  .claude/agents/teamcoach/phase1/reporting.py
  .claude/agents/teamcoach/phase2/realtime_assignment.py
  .claude/agents/teamcoach/phase2/recommendation_engine.py
  .claude/agents/teamcoach/phase2/task_matcher.py
  .claude/agents/teamcoach/phase2/team_optimizer.py
  .claude/agents/teamcoach/phase3/__init__.py
  .claude/agents/teamcoach/phase3/coaching_engine.py
  .claude/agents/teamcoach/phase3/conflict_resolver.py
  .claude/agents/teamcoach/phase3/strategic_planner.py
  .claude/agents/teamcoach/phase3/workflow_optimizer.py
  .claude/agents/teamcoach/team_coach.py
  .claude/agents/teamcoach/tests/test_coaching_engine.py
  .claude/agents/teamcoach/tests/test_conflict_resolver.py
  .claude/agents/teamcoach/tests/test_strategic_planner.py
  .claude/recipes/team-coach/recipe.yaml
  docs/team-coach-github-integration.md
  docs/team-coach-usage.md
  tests/test_team_coach.py
Due: pyright, validate-agents

refactor: reduce CLAUDE.md from 1,522 to 122 lines (92% reduction)
  CLAUDE.md
Due: none

fix: add missing modular instruction files for refactored CLAUDE.md
  .claude/instructions/agent-development.md
  .claude/instructions/git-worktree.md
  .claude/instructions/orchestration.md
  .claude/instructions/testing-qa.md
  .claude/instructions/troubleshooting.md
  .claude/instructions/uv-environment.md
Due: none

fix: Update CI configuration for Python 3.12 and correct paths
  .github/memory-manager/memory_manager.py
  .github/memory-manager/test_memory_integration.py
  .github/workflows/test-uv.yml
  .pre-commit-config.yaml
  execute_parallel_tasks.py
  final_comprehensive_test_fix.py
  final_pyright_fix.py
  final_pyright_push.py
  final_test_fixes.py
  fix_all_pyright_errors.py
  fix_all_test_types.py
  fix_remaining_test_errors.py
  fix_test_type_errors.py
  gadugi-v0.3/services/cli/gadugi_cli_service.py
  gadugi-v0.3/services/llm-proxy/llm_proxy_service.py
  gadugi-v0.3/services/neo4j-graph/neo4j_graph_service.py
  gadugi-v0.3/src/cli.py
  gadugi-v0.3/src/orchestrator/run_agent.py
  gadugi-v0.3/src/orchestrator/worktree_manager_engine.py
  gadugi/event_service/cli.py
  neo4j/init_db.py
  neo4j/neo4j_client.py
  targeted_pyright_fix.py
  tests/agents/pr_backlog_manager/test_stubs.py
  tests/agents/test_code_reviewer_simplicity.py
  tests/shared/test_error_handling.py
  tests/shared/test_task_tracking.py
  tests/test_enhanced_workflow_manager_reliability.py
  validate_v03_implementation.py
Due: pyright

fix: Resolve additional 595 type errors through parallel fixes
  .claude/agents/team-coach/phase2/task_matcher.py
  .claude/agents/team-coach/phase3/strategic_planner.py
  .claude/agents/team-coach/phase3/workflow_optimizer.py
  .claude/agents/team-coach/tests/test_strategic_planner.py
  .claude/agents/team-coach/tests/test_task_matcher.py
  .claude/agents/team-coach/tests/test_workflow_optimizer.py
  .claude/agents/workflow-master-enhanced.py
  .claude/engines/worktree_manager_engine.py
  .claude/orchestrator/tests/test_containerized_execution.py
  .claude/orchestrator/tests/test_orchestrator_integration.py
  .claude/services/event-router-v2/src/client/sdk.py
  .claude/services/neo4j-graph/neo4j_graph_service.py
  .claude/shared/task_tracking.py
  .claude/shared/workflow_validator.py
  tests/integration/test_enhanced_separation_basic.py
  tests/integration/test_enhanced_separation_basic_broken.py
  tests/integration/test_workflow_manager_enhanced_separation.py
  tests/shared/test_error_handling.py
  tests/shared/test_interfaces.py
  tests/shared/test_state_management.py
  tests/shared/test_task_tracking.py
  tests/test_task_decomposer.py
  tests/test_xpia_defense.py
Due: pyright

fix: Recipe Executor self-hosting and complete pyright type safety
  .recipe_build/state.json
  monitor_execution.sh
  monitor_live.sh
  monitor_regeneration.sh
  monitor_regeneration_v2.sh
  monitor_v11.sh
  prompts/fix-recipe-executor-model.md
  recipes/recipe-executor/requirements.md
  src/monitor_selfhost.sh
  src/recipe_executor/claude_code_generator.py
  src/recipe_executor/complexity_analyzer.py
  src/recipe_executor/component_registry.py
  src/recipe_executor/dependency_graph.py
  src/recipe_executor/enhanced_orchestrator.py
  src/recipe_executor/install_agents.py
  src/recipe_executor/intelligent_stub_detector.py
  src/recipe_executor/orchestrator.py
  src/recipe_executor/parallel_builder.py
  src/recipe_executor/pattern_loader.py
  src/recipe_executor/pattern_manager.py
  src/recipe_executor/prompt_loader.py
  src/recipe_executor/recipe_decomposer.py
  src/recipe_executor/recipe_model.py
  src/recipe_executor/recipe_parser.py
  src/recipe_executor/self_hosting.py
  src/recipe_executor/stub_detector.py
  src/recipe_executor/tdd_pipeline.py
  src/recipe_executor/test_generator.py
  src/recipe_executor/test_solver.py
  src/test_framework_bug_simple.py
  src/tests/test_framework_bug.py
  test_model_components.py
  test_recipe_executor.py
  test_recipe_executor_model_comprehensive.py
Due: pyright

feat: Implement complete Neo4j memory system per v0.3 specifications
  .claude/services/mcp/enhanced_mcp_service.py
  .claude/services/neo4j-memory/docker-compose.yml
  .claude/services/neo4j-memory/memory_manager.py
  .claude/services/neo4j-memory/start_memory_system.sh
  .claude/services/neo4j-memory/stop_memory_system.sh
  .claude/shared/memory_integration.py
  tests/test_memory_system_integration.py
Due: pyright

fix: Recipe Executor self-hosting quality gates and component validation
  src/recipe_executor/claude_code_generator.py
  src/recipe_executor/component_registry.py
  src/recipe_executor/python_standards.py
  src/test_self_hosting_bugs.py
  src/tests/test_self_hosting_failures.py
Due: pyright

feat: Add comprehensive quality enforcement to Recipe Executor
  recipes/recipe-executor/design.md
  recipes/recipe-executor/requirements.md
  src/recipe_executor/claude_code_generator.py
  src/recipe_executor/orchestrator.py
  src/recipe_executor/prompts/generation.md
  src/recipe_executor/python_standards.py
Due: pyright

fix: Path handling in self-hosting manager
  src/recipe_executor/self_hosting.py
Due: pyright

fix: Recipe Executor self-hosting path handling and explicit file requirements
  recipes/recipe-executor/requirements.md
  src/recipe_executor/claude_code_generator.py
Due: pyright

fix: Recipe Executor prompt generation with explicit file paths
  src/recipe_executor/claude_code_generator.py
Due: pyright

fix: Make Claude file creation instructions more explicit
  src/recipe_executor/claude_code_generator.py
Due: pyright

fix: Improve Recipe Executor self-hosting robustness
  src/recipe_executor/claude_code_generator.py
  src/recipe_executor/prompts/fix_stubs_prompt.md
Due: pyright

fix: Resolve merge conflicts in docker-compose.gadugi.yml and configure Neo4j for non-default ports
  .env.example
  docker-compose.gadugi.yml
Due: none

feat: Implement comprehensive memory fallback system with health monitoring
  .claude/agents/code-reviewer/code_reviewer_v03.py
  .claude/data/memory.db
  .claude/docs/MEMORY_HEALTH_SYSTEM.md
  .claude/shared/memory_fallback.py
  .claude/shared/memory_health.py
  .claude/shared/memory_health_integration.py
  .claude/shared/memory_integration.py
  tests/shared/test_memory_health.py
  tests/test_memory_fallback.py
Due: pyright

fix: Address code review feedback for memory fallback system
  .claude/shared/memory_fallback.py
Due: pyright

fix: Remove legacy CodeReviewerProjectMemory.md references
  .claude/agents/code-reviewer.md
  .claude/agents/code-reviewer/.github/CodeReviewerProjectMemory.md
  .claude/agents/workflow-manager.md
  .github/CodeReviewerProjectMemory.md
Due: validate-agents

feat: Implement comprehensive service management system for Gadugi v0.3
  .claude/agents/SERVICE_MANAGEMENT_SYSTEM_README.md
  .claude/agents/event-router-service-manager.md
  .claude/agents/gadugi-coordinator.md
  .claude/agents/memory-service-manager.md
  .claude/agents/neo4j-service-manager.md
  .claude/hooks/check-services.py
  .claude/hooks/service-check.sh
Due: pyright, validate-agents

feat: Configure Claude Code SessionStart hook for service-check.sh
  .claude/hooks/README.md
  .claude/hooks/check-services.py
  .claude/hooks/service-check.sh
  .claude/hooks/setup_xpia_web_hooks.sh
  .claude/hooks/xpia_web_validator.py
  .claude/settings.json
Due: pyright

feat: Add prompt files for parallel task execution
  .claude/orchestrator/worktree_state.json
  .gadugi/monitoring/heartbeats.json
  .gadugi/monitoring/process_registry.json
  prompts/configure-claude-code-start-hook.md
  prompts/reinforce-workflow-for-code-changes.md
  prompts/rename-agents-to-camelcase.md
  prompts/start-event-router-service.md
Due: none
