Repository rysweet/gadugi: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, validate-agents

pyright:
  name: pyright type checker
  entry: pyright container_runtime/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-agents:
  name: Validate agent registration
  entry: python .github/scripts/validate-agent-registration.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test: implement review feedback improvements
  docs/testing.md
  pyproject.toml
  pytest.ini
  uv.lock
Due: none

fix: remove tools: line from all subagents to enable inherit mode
  .claude/agents/agent-updater.md
  .claude/agents/code-review-response.md
  .claude/agents/code-reviewer.md
  .claude/agents/execution-monitor.md
  .claude/agents/gadugi.md
  .claude/agents/orchestrator-agent.md
  .claude/agents/pr-backlog-manager.md
  .claude/agents/program-manager.md
  .claude/agents/prompt-writer.md
  .claude/agents/readme-agent.md
  .claude/agents/recipe-executor.md
  .claude/agents/system-design-reviewer.md
  .claude/agents/task-analyzer.md
  .claude/agents/task-bounds-eval.md
  .claude/agents/task-decomposer.md
  .claude/agents/task-research-agent.md
  .claude/agents/test-solver.md
  .claude/agents/test-writer.md
  .claude/agents/type-fix-agent.md
  .claude/agents/workflow-manager-simplified.md
  .claude/agents/workflow-manager.md
  .claude/agents/worktree-manager.md
Due: validate-agents

fix: resolve critical Python syntax and indentation errors
  .claude/orchestrator/components/execution_engine.py
  .claude/orchestrator/container_manager.py
  .claude/orchestrator/monitoring/dashboard.py
  .claude/orchestrator/tests/test_containerized_execution.py
  .github/CodeReviewerProjectMemory.md
Due: pyright

fix: resolve test collection error by adding missing Tuple import
  .claude/shared/workflow_reliability.py
Due: pyright

security: replace hardcoded secrets with environment variables
  .claude/services/neo4j_service/client.py
  .claude/services/neo4j_service/connection_test.py
  .claude/services/neo4j_service/docker-compose.yml
  .claude/services/neo4j_service/models.py
  .claude/services/neo4j_service/schema.py
  .env.example
  docker-compose.gadugi.yml
  docs/neo4j-service-guide.md
  neo4j-setup/test_connection.py
Due: pyright

feat: implement comprehensive Team Coach agent
  .claude/agents/team-coach.md
  .claude/agents/teamcoach/__init__.py
  .claude/agents/teamcoach/phase1/capability_assessment.py
  .claude/agents/teamcoach/phase1/metrics_collector.py
  .claude/agents/teamcoach/phase1/performance_analytics.py
  .claude/agents/teamcoach/phase1/reporting.py
  .claude/agents/teamcoach/phase2/realtime_assignment.py
  .claude/agents/teamcoach/phase2/recommendation_engine.py
  .claude/agents/teamcoach/phase2/task_matcher.py
  .claude/agents/teamcoach/phase2/team_optimizer.py
  .claude/agents/teamcoach/phase3/__init__.py
  .claude/agents/teamcoach/phase3/coaching_engine.py
  .claude/agents/teamcoach/phase3/conflict_resolver.py
  .claude/agents/teamcoach/phase3/strategic_planner.py
  .claude/agents/teamcoach/phase3/workflow_optimizer.py
  .claude/agents/teamcoach/team_coach.py
  .claude/agents/teamcoach/tests/test_coaching_engine.py
  .claude/agents/teamcoach/tests/test_conflict_resolver.py
  .claude/agents/teamcoach/tests/test_strategic_planner.py
  .claude/recipes/team-coach/recipe.yaml
  docs/team-coach-github-integration.md
  docs/team-coach-usage.md
  tests/test_team_coach.py
Due: pyright, validate-agents

fix: remove timeouts for Claude Code invocation and clarify communication guidelines
  .claude/agents/recipe-executor/generated_self_test/generated_recipe-executor/src/__init__.py
  CLAUDE.md
  src/recipe_executor/context/CRITICAL_GUIDELINES.md
Due: pyright

feat: create simplified executor agents (Task 2 of #305)
  .claude/agents/code-executor.md
  .claude/agents/github-executor.md
  .claude/agents/test-executor.md
  .claude/agents/worktree-executor.md
Due: validate-agents

docs: update documentation for CLAUDE.md orchestration (Task 3 of #305)
  .github/Memory.md
  README_SECTION.md
  docs/claude-orchestration-quickstart.md
  docs/migration-to-claude-orchestration.md
Due: none

feat: restructure CLAUDE.md with integrated orchestration (Task 1 of #305)
  CLAUDE-legacy.md
Due: none

fix: address critical review feedback for CLAUDE.md restructuring
  CLAUDE.md
Due: none

feat: enhance executor agents with implementation details and examples
  .claude/agents/code-executor.md
  .claude/agents/github-executor.md
  .claude/agents/recipe-executor.md
  .claude/agents/test-executor.md
  .claude/agents/worktree-executor.md
Due: validate-agents

docs: address code review feedback for PR #309
  .github/Memory.md
  ORCHESTRATOR_EXECUTION_SUMMARY.md
  README.md
Due: none

feat: restructure CLAUDE.md with integrated orchestration (#307)
  CLAUDE-legacy.md
Due: none

feat: create simplified executor agents (#308)
  .claude/agents/code-executor.md
  .claude/agents/github-executor.md
  .claude/agents/recipe-executor.md
  .claude/agents/test-executor.md
  .claude/agents/worktree-executor.md
  .github/Memory.md
  ORCHESTRATOR_EXECUTION_SUMMARY.md
  README.md
Due: validate-agents

docs: update documentation for CLAUDE.md orchestration (#309)
  .github/Memory.md
  README_SECTION.md
  docs/claude-orchestration-quickstart.md
  docs/migration-to-claude-orchestration.md
Due: none

feat: implement intelligent stub detection using Claude
  .recipe_build/regenerated/generated_recipe-executor/.gitignore
  .recipe_build/regenerated/generated_recipe-executor/README.md
  .recipe_build/regenerated/generated_recipe-executor/cli.py
  .recipe_build/regenerated/generated_recipe-executor/pyproject.toml
  .recipe_build/regenerated/generated_recipe-executor/src/__init__.py
  .recipe_build/regenerated/generated_recipe-executor/src/claude_code_generator.py
  .recipe_build/regenerated/generated_recipe-executor/src/dependency_resolver.py
  .recipe_build/regenerated/generated_recipe-executor/src/orchestrator.py
  .recipe_build/regenerated/generated_recipe-executor/src/python_standards.py
  .recipe_build/regenerated/generated_recipe-executor/src/quality_gates.py
  .recipe_build/regenerated/generated_recipe-executor/src/recipe_decomposer.py
  .recipe_build/regenerated/generated_recipe-executor/src/recipe_model.py
  .recipe_build/regenerated/generated_recipe-executor/src/recipe_parser.py
  .recipe_build/regenerated/generated_recipe-executor/src/recipe_validator.py
  .recipe_build/regenerated/generated_recipe-executor/src/state_manager.py
  .recipe_build/regenerated/generated_recipe-executor/src/test_generator.py
  .recipe_build/regenerated/generated_recipe-executor/src/validator.py
  .recipe_build/regenerated/generated_recipe-executor/tests/test_recipe_executor.py
  .recipe_build/state.json
  TRANSFER_SUMMARY.md
  monitor_regeneration.sh
  run_regeneration.sh
  src/recipe_executor/claude_code_generator.py
  src/recipe_executor/intelligent_stub_detector.py
  test_intelligent_detection.py
Due: pyright

docs: update Recipe Executor recipe with missing components
  REGENERATION_SUCCESS.md
  analyze_regeneration.py
  recipes/recipe-executor/design.md
  recipes/recipe-executor/requirements.md
Due: pyright

docs: update Memory.md with V0.3 migration completion status
  .github/Memory.md
Due: none

feat: add LLM Proxy configuration agent and interactive wizard
  .claude/agents/llm-proxy-agent.md
  .claude/services/llm-proxy/README.md
  .claude/services/llm-proxy/USAGE_GUIDE.md
  .claude/services/llm-proxy/configure_proxy.py
Due: pyright, validate-agents

docs: update documentation for LLM Proxy configuration system
  .github/Memory.md
  README.md
Due: none

feat: add time-based scheduling to LLM Proxy service
  .claude/agents/llm-proxy-agent.md
  .claude/services/llm-proxy/README.md
  .claude/services/llm-proxy/configure_proxy.py
Due: pyright, validate-agents

docs: update all documentation with scheduling feature
  .claude/services/llm-proxy/USAGE_GUIDE.md
  .github/Memory.md
  README.md
Due: none

fix: configure pyright to basic mode for manageable error reporting
  pyrightconfig.json
Due: none

docs: add strict type generation guide and analysis
  .github/Memory.md
  STRICT_TYPE_GENERATION_GUIDE.md
  TYPE_SAFETY_ANALYSIS.md
  pyrightconfig.json
Due: none

docs: Add type fixes report and complete Phase 7
  .claude/shared/workflow_reliability.py
  TYPE_FIXES_REPORT.md
  fix_type_errors.py
  pyproject.toml
  uv.lock
Due: pyright

fix: Address code review feedback on syntax errors
  .claude/agents/pr-backlog-manager/core.py
  .claude/agents/pr-backlog-manager/delegation_coordinator.py
  .claude/agents/workflow-master-enhanced.py
  .claude/orchestrator/orchestrator_cli.py
  .claude/orchestrator/orchestrator_main.py
  .claude/orchestrator/process_registry.py
  .claude/orchestrator/tests/test_containerized_execution.py
  .claude/orchestrator/tests/test_orchestrator_integration.py
  WORKFLOW_REMINDER.md
  fix_remaining_syntax.py
  fix_syntax_errors.py
Due: pyright

docs: add comprehensive type safety status report
  TYPE_SAFETY_STATUS.md
Due: none

fix: reduce syntax errors to 8 and type errors by 51%
  .claude/agents/enhanced_workflow_manager.py
  .claude/agents/pr-backlog-manager/core.py
  .claude/agents/pr-backlog-manager/delegation_coordinator.py
  .claude/agents/shared_test_instructions.py
  .claude/agents/system_design_reviewer/adr_generator.py
  .claude/agents/system_design_reviewer/ast_parser.py
  .claude/agents/system_design_reviewer/core.py
  .claude/agents/system_design_reviewer/documentation_manager.py
  .claude/agents/system_design_reviewer/fallbacks.py
  .claude/agents/test_solver_agent.py
  .claude/agents/test_writer_agent.py
  .claude/agents/workflow-master-enhanced.py
  .claude/agents/workflow-master-teamcoach-integration.py
  .claude/agents/workflow-reflection-collector.py
  .claude/orchestrator/components/execution_engine.py
  .claude/orchestrator/components/prompt_generator.py
  .claude/orchestrator/components/task_analyzer.py
  .claude/orchestrator/components/worktree_manager.py
  .claude/orchestrator/container_manager.py
  .claude/orchestrator/monitoring/dashboard.py
  .claude/orchestrator/orchestrator_cli.py
  .claude/orchestrator/process_registry.py
  .claude/shared/base_classes.py
  .claude/shared/github_operations.py
  .claude/shared/state_management.py
  .claude/shared/task_tracking.py
  .claude/shared/utils/error_handling.py
  .claude/shared/workflow_reliability.py
  .claude/shared/workflow_validator.py
  .claude/shared/xpia_defense.py
  .claude/shared/xpia_middleware.py
  complete_all_fixes.sh
  fix_final_syntax.py
  fix_mangled_signatures.py
  orchestrate_complete_fix.py
  parallel_orchestration.sh
  tests/agents/pr_backlog_manager/test_stubs.py
  tests/shared/test_github_operations.py
  tests/shared/test_interfaces.py
  tests/shared/test_state_management.py
Due: pyright

fix: major progress on type safety - 85% syntax errors fixed
  .claude/orchestrator/process_registry.py
  final_orchestration.py
Due: pyright

feat: 🎉 ALL SYNTAX ERRORS FIXED - 100% success using parallel Task execution
  .claude/agents/enhanced_workflow_manager.py
  .claude/agents/pr-backlog-manager/core.py
  .claude/agents/pr-backlog-manager/delegation_coordinator.py
  .claude/agents/teamcoach/phase2/task_matcher.py
  .claude/agents/workflow-master-enhanced.py
  .claude/agents/workflow-master-teamcoach-integration.py
  .claude/agents/workflow-reflection-collector.py
  .claude/orchestrator/components/execution_engine.py
  .claude/orchestrator/components/prompt_generator.py
  .claude/orchestrator/components/task_analyzer.py
  .claude/orchestrator/components/worktree_manager.py
  .claude/orchestrator/container_manager.py
  .claude/orchestrator/direct_executor.py
  .claude/orchestrator/monitoring/dashboard.py
  .claude/orchestrator/orchestrator_main.py
  .claude/orchestrator/process_registry.py
  .claude/orchestrator/tests/test_process_registry.py
  .claude/orchestrator/tests/test_task_analyzer.py
  .claude/orchestrator/tests/test_worktree_manager.py
  .claude/shared/github_operations.py
  .claude/shared/state_management.py
  .claude/shared/task_tracking.py
  SYNTAX_ERROR_FIX_REPORT.md
  check_syntax_errors.py
  syntax_error_fix_report.py
  test_imports.py
Due: pyright

fix: Recipe Executor self-hosting improvements - directory access and prompting
  .recipe_build/state.json
  monitor_execution.sh
  monitor_live.sh
  src/recipe_executor/claude_code_generator.py
  src/recipe_executor/intelligent_stub_detector.py
  src/recipe_executor/orchestrator.py
  src/recipe_executor/prompts/fix_stubs_prompt.md
  tests/test_orchestrator_interfaces.py
Due: pyright

feat: Add component registry and improve Recipe Executor self-hosting
  src/recipe_executor/claude_code_generator.py
  src/recipe_executor/component_registry.py
  src/recipe_executor/orchestrator.py
  src/recipe_executor/prompts/fix_stubs_prompt.md
  v9_analysis.md
Due: pyright

Path conditions:
  pyright: any of: \.py$, but not: (?x)^(
  .*\.skip$|
  \.venv/.*|
  venv/.*|
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  htmlcov/.*|
  \.coverage$|
  \.mypy_cache/.*|
  \.ruff_cache/.*|
  \.worktrees/.*|
  \.gadugi/.*
)

  validate-agents: any of: \.(claude|github)/agents/.*\.md$, but not: (?x)^(
  .*\.skip$|
  \.venv/.*|
  venv/.*|
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  .*\.pyc$|
  .*\.pyo$|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  htmlcov/.*|
  \.coverage$|
  \.mypy_cache/.*|
  \.ruff_cache/.*|
  \.worktrees/.*|
  \.gadugi/.*
)

